node_modules
dist
.turbo
.next
.cache
*.log
.DS_Store
*.env
apps/server/node_modules
apps/web/node_modules
apps/desktop/node_modules
apps/mobile/node_modules
packages/ui/node_modules
packages/model/node_modules
apps/web/.qwik
apps/web/server
apps/web/build
apps/web/.vite
coverage
